body{
	min-width: 1170px
}
.container{
	max-width: 1200px;
	margin: 0px 100px 100px;
	padding: 0px 15px;
}

@media (max-width: 1200px){
	.container{
		max-width: 920px;
	}
}

@media (max-width: 920px){
	.container{
		max-width: 750px;
	}
}

@media (max-width: 750px){
	.container{
		max-width: none;
	}
}
.header {
	height: 200px;
	background: red;
}

.logo {
	height: 100px;
	float: left;
}

.h1 {
	font-size: 50px;
	display: inline-block;
}

.logo_h1{
	display: flex;
	float: left;
	width: 90%
}

.lichka {
	height: 100px;
	width: 10%;
	background: brown
}

.nav {
	height: 200px;
	background: yellow;
}

.footer {
	height: 200px;
	background: orange;
}
